// Place all the styles related to the menubar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$header_background_color: #ff7676;
#main_header{
    height:35px;
    width: 100%;
    margin-bottom: 5px;
    background-color:  $header_background_color;
    box-sizing: border-box;

}