@use "@/assets/sass/commons/color_variables.scss" as color_variables;

$calendar_background: #d3d3d3;

#task_calendar {
    box-sizing: border-box;

    border: 1px solid #CCCCCC;
    height: 250px ;
    background: color_variables.$background_color;
  & .mini_calendar {
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: color_variables.$background_color;

    & > thead tr:first-child {
      & th {
        color: #fff;
        background: color_variables.$main_color;
        padding: 0.5em;
      }
    }

    & > tbody tr > td {
      text-align: center;
    }
  }

}
.calendar_yearmonth{
  font-size: 25px;
}