@use "@/assets/sass/commons/color_variables.scss" as color_variables;

.task_time_sum {
    display: grid;
    height: 100%;
    width:100%;
    border: 1px solid color_variables.$shadow_color_standard;
    margin-left: 10px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: auto;
}
.task_time_sum_text{
    text-align: center;
    vertical-align: middle;
    height: auto;
    width:auto;
    font-size: 100px;
    background-color: #d6d6d6;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}