$background_color : #fafafa;
$hover_focus_under_color : #9c9c9c;
$input_bottom_px : 2px;
.task_input_box {
   width: 100%;
   border: 1px solid;
   padding: 0.5em ;
   background: $background_color;
    & input[type="text"]{
        outline: none;
        background: $background_color;
        border: none;
        border-bottom: $input_bottom_px solid $background_color;
        &:hover{
            
            border-bottom: $input_bottom_px solid $hover_focus_under_color;
        }
        &:focus{
            outline: none;
            border-bottom: $input_bottom_px solid $hover_focus_under_color;
        }
        
    }
    
    
}

.task_title {
    margin: 0.1em 0.2em 0.1em 0.2em;
    padding: 0em;
    font-size :26px;
    width: 95%; 
}
.task_details{
    border: 1px solid #ccc; /* 枠線 */
}