@use "@/assets/sass/commons/color_variables.scss" as color_variables;
$hover_focus_under_color: #9c9c9c;
$input_bottom_px: 2px;


.task_input_box {
  display: block;
  border: 0px solid;
  border-radius: 20px;
  padding: 0.3em 3em  0.3em 3em ;
  background: color_variables.$white_background;
  box-shadow: 2px 2px 10px #BCBCBC;
  box-sizing: border-box;
    & input[type="text"]{
    outline: none;
    padding: 0em;
    background:  color_variables.$white_background;
    border: none;
    border-bottom: $input_bottom_px solid  color_variables.$white_background;
    &:hover {
      border-bottom: $input_bottom_px solid $hover_focus_under_color;
    }
    &:focus {
      outline: none;
      border-bottom: $input_bottom_px solid $hover_focus_under_color;
    }
  }
}

.task_title {
  margin: 0.1em 0.2em 0.1em 0.2em;
  padding: 0em;
  font-size: 25px;
  width: 95%;
  font-weight: bold;
}
/**タスク手順詳細**/
.task_details {
  border: 1px solid #ccc; /* 枠線 */
  padding: 0.5em 0.5em 0.5em;
  
}
.taskplan_titles {
  font-size: 15px;
  width: 30%;

}

.task_detail_memo {
  padding: 0.5em;
  outline: none;
  background: color_variables.$background_color;
  border: none;
  resize: none;
  box-sizing: border-box;

  width: 100%;
  border-bottom: $input_bottom_px solid color_variables.$background_color;
  &:hover {
    border: 0.5px solid $hover_focus_under_color;
    border-bottom: $input_bottom_px solid $hover_focus_under_color;
  }
  &:focus {
    border-bottom: $input_bottom_px solid $hover_focus_under_color;
  }
}

#add_detail {
  border: 0;
  border-radius: 0;
  font-size: 17px;
  border-bottom: 2px solid $hover_focus_under_color;
  background: color_variables.$background_color;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
#add_detail:disabled {
  color: $hover_focus_under_color;
}
// 細かい内容追加ボタン位置
.bottom_button{
  display: float;
  float: right;
  list-style-type: none;
  margin-top: 3px;
  margin-right: 0.5%;
}
.task_input_bottoms{
 display:block;
 height: 50px;
}

#task_add_button{
display: flex;
  float: right;
  list-style-type: none;
  margin-top: 3px;
  margin-right: 2%;
}

.task_input_middle{
  min-height: 54px;
}
