$background_color : #EEEEEE;
input[type="text"] {
    border: 1px solid;
    border-color: #9c9c9c;
    padding: 0.5em 0.5em 0.5em;
    margin: 0.2em;
    &:focus{
        background: $background_color;
    }
}


html{
    background: $background_color;
}