@use "commons/color_variables.scss" as color_variables;

input[type="text"] {
    border: 1px solid;
    border-color: #9c9c9c;
    padding: 0.5em 0.5em 0.5em;
    margin: 0.2em;
    &:focus{
        background: color_variables.$background_color;
    }
}


html {
    height: 100%;
    background: color_variables.$background_color;
}
  
div {
    box-sizing: border-box;
}
body {
height: 100%;
margin: 0;
}

#app{
    height: 100%;
    margin: 0;
    padding: 0;
}
#main {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main_button{
    width: 100px;
    height: 40px;
    padding: 0.3em;
}

